{% extends 'main/wrapper.html' %}
{% block content %}
    {% load staticfiles %}
    <script>
        window.get_c_url = "{{ GetCategoryURL }}";
        window.get_p_url = "{{ GetProductURL }}";
    </script>
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="col-12 col-lg-8 offset-lg-2">
                <div id="content" class="container-fluid">
                    <ul class="px-0">

                        <li class="img-hover col-xs-12 col-lg-3 d-ib my-4 px-0 mx-lg-4 bg-white"
                            v-for="prod in products">
                            <a :href="get_url(prod.id)">
                                <div class="container-fluid p-0">
                                    <div class="row">
                                        <div class="col-12">
                                            <img :src="'/static/'+prod.img_url" alt="Фото" class="img-thumbnail">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-5 pl-4">
                                            <h5 class="text-left">[[ prod.name ]]</h5>
                                        </div>
                                        <div class="col-7 pr-4">
                                            <h5 class="text-right"><span style="font-size: 0.8em">от </span>[[ prod.start_price ]] ₽</h5>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'main/js/GetCategory.js' %}"></script>
{% endblock %}