{% extends "main/wrapper.html" %}
{% block content %}
{% load staticfiles %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-lg-6 offset-lg-3">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-lg-5 mb-2 mb-lg-0 mb-xl-0">
                        <a class="d-none d-lg-block d-xl-block" href="{% url 'main:GetCategory' 'shelf' %}"><img class="img-thumbnail img-hover" src="{% static 'main/img/shelf.png' %}" alt=""></a>
                        <a class="d-lg-none d-xl-none " href="{% url 'main:GetCategory' 'shelf' %}"><img class="img-thumbnail img-hover" src="{% static 'main/img/shelf2.png' %}" alt=""></a>
                    </div>
                    <div class="col-xs-12 col-lg-7 mt-2 mt-lg-0 mt-xl-0">
                        <a href="{% url 'main:GetCategory' 'bed' %}"><img class="img-thumbnail mb-2 mb-lg-5 mb-xl-5 img-hover" src="{% static 'main/img/bed.png' %}" alt=""></a>
                        <br class="d-none d-lg-block d-xl-block">
                        <br class="d-none d-lg-block d-xl-block">
                        <a href="{% url 'main:GetCategory' 'tahta' %}"><img class="img-thumbnail mt-2 mt-lg-5 mt-xl-5 img-hover" src="{% static 'main/img/tahta.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}