{% extends "main/wrapper.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="container-fluid" id="app">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2 bg-white">
                        <div class="container-fluid mt-4">
                            <div class="row">
                                <div class="col-12">
                                    <h4>Рассчитать доставку</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12 col-md-6">
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputcountry">Страна</label>
                                                <input required type="text" class="form-control" id="inputcountry"
                                                       name="country" placeholder="Россия" v-model="country">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputcity">Город</label>
                                                <input required type="text" class="form-control" id="inputcity"
                                                       name="city"
                                                       placeholder="Москва" v-model="city">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputstreet">Улица</label>
                                                <input required type="text" class="form-control" id="inputstreet"
                                                       name="street" placeholder="Моховая" v-model="street">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label for="inputstreet">Строение</label>
                                                <input required type="text" class="form-control" id="inputbuilding"
                                                       name="building" placeholder="34" v-model="building">
                                            </div>
                                        </div>
                                        <div class="form-group centered">
                                            <button class="btn btn-primary" @click="calc">Рассчитать</button>
                                        </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th>Всего км</th>
                                            <th>Цена за км</th>
                                            <th>Итого</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>[[ dist ]]</td>
                                            <td>33 ₽</td>
                                            <td>[[ dist*33 ]] ₽</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'map/js/GetMap.js' %}"></script>
{% endblock %}