{% extends "main/wrapper.html" %}
{% block content %}
    {% load staticfiles %}
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8 offset-lg-2 bg-white">
                        <div class="container-fluid mt-4">
                            <div class="row">
                                <div class="col-12 col-lg-4"><a href="/cart">
                                    <div class=" btn btn-outline-success btn-block">Вернуться в корзину</div>
                                </a></div>
                                <div class="col-12 col-lg-4"><p class="h5-p centered">Цена заказа: {{ total_price }} <i
                                        class="fas fa-ruble-sign"></i></p></div>
                                <div class="col-12 col-lg-4"><a href="/cart">
                                    <div class=" btn btn-outline-success btn-block">Отменить заказ</div>
                                </a></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4>Форма заказа</h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <form action="/order/add" method="post">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputlastname">Фамилия</label>
                                                    <input required type="text" class="form-control" id="inputlastname"
                                                           name="lastname" placeholder="Васнецов">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputname">Имя</label>
                                                    <input required type="text" class="form-control" id="inputname"
                                                           name="name" placeholder="Пётр">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputpatronymic">Отчество</label>
                                                    <input required type="text" class="form-control"
                                                           id="inputpatronymic"
                                                           name="patronymic" placeholder="Викторович">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputcomments">Комментарий</label>
                                                    <textarea required rows="3" class="form-control" id="inputcomments"
                                                              name="comments"
                                                              placeholder="Позвоните вечером пятницы..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputemail">Электронная почта</label>
                                                    <input required type="email" class="form-control" id="inputemail"
                                                           name="email" placeholder="example@example.ru">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputtel">Контактный телефон</label>
                                                    <input required type="tel" class="form-control" id="inputtel"
                                                           name="tel" placeholder="89818858083">
                                                </div>
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-12">
                                                    <label for="inputaddress">Адрес</label>
                                                    <input required type="text" class="form-control" id="inputaddress"
                                                           name="address" placeholder="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group centered">
                                        <div class="form-check">
                                            <input required class="form-check-input" type="checkbox" id="gridCheck">
                                            <label class="form-check-label" for="gridCheck">
                                                Согласен(а) с правилами <a target="_blank"
                                                                           href="{% url 'main:Offer' %}">оферты</a>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input required class="form-check-input" type="checkbox" id="gridCheck2">
                                            <label class="form-check-label" for="gridCheck2">
                                                Согласен(а) на обработку персональных данных
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group centered">
                                        <button type="submit" class="btn btn-primary ">Сделать заказ</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU&amp;load=SuggestView&amp;onload=onLoad"></script>
    <script src = "{% static 'cart_order/js/cart_order.js' %}" ></script>
{% endblock %}